@import "tailwindcss";
/* Tailwind 기본 스타일 제거됨 → 직접 스타일 지정 가능 */
:root {
    --color-background: #F9FAFB;
    --color-text: #111827;
    --color-header: #F3F4F6;    
    --color-footer: #ffa500;
    --color-footer-text : #111827; 
    --color-sidebar: #F3F4F6;
    --color-sidebar_sub: #dcdddf; /* 사이드바_sub 배경 */
    --color-dropdown: #F3F4F6;
    --color-dropdown-bg: #FFFFFF;
    --color-dropdown-hover: #E5E7EB;
    --color-button: #E5E7EB;
    --color-accent: #2563EB; /* 기본 파란색 강조 */
    --color-notification-icon: #374151; /* text-gray-700 */
    --color-notification-badge: #ef4444; /* bg-red-500 */
    --color-avatar-bg: #d1d5db; /* bg-gray-300 */
    --color-lang-bg: #2f2f30; 
  }
  
  /* VSCode Dark Mode 스타일 */
  .dark {
    --color-background: #1E1E1E; /* VSCode 배경 */
    --color-text: #D4D4D4; /* 연한 회색 텍스트 */
    --color-header: #2f2f30; /* VSCode 헤더 */
    --color-footer: #ff7a00;
    --color-footer-text : white; 
    --color-sidebar: #2f2f30; /* 사이드바 배경 */
    --color-sidebar_sub: #252526; /* 사이드바_sub 배경 */
    --color-dropdown: #333333;
    --color-dropdown-bg: #2f2f30;
    --color-dropdown-hover: #3C3C3C;
    --color-button: #3C3C3C;
    --color-accent: #007ACC; /* VSCode 블루 강조 */
    --color-notification-icon: #d1d5db; /* text-gray-300 */
    --color-notification-badge: #f87171; /* bg-red-400 */
    --color-avatar-bg: #8ba4c7; /* bg-gray-600 */
    --color-lang-bg: #d1d5db; 
  }
  
  /* Tailwind에서 변수를 활용할 수 있도록 */
  body {
    background-color: var(--color-background);
    color: var(--color-text);
  }
  
  
    
  
  